# This interfaces file is written to bring up all interfaces using IPv6
# auto conf except the interface being used for Ansible communication.

# The loopback network interface
auto lo
iface lo inet loopback

{% for interface in ansible_interfaces %} 
{% if interface != 'lo' and inventory_hostname != hostvars[inventory_hostname]['ansible_' + interface.replace('-', '_')].get('ipv4', {}).get('address') %} 
auto {{ interface }}
iface {{ interface }} inet manual
iface {{ interface }} inet6 auto
{% elif inventory_hostname == hostvars[inventory_hostname]['ansible_' + interface.replace('-', '_')].get('ipv4', {}).get('address') %}
auto {{ interface }}
iface {{ interface }} inet dhcp
{% endif %}
{% endfor %}
